<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8" />
  <title>CookieFarm</title>
  <link rel="stylesheet" href="/css/output.css">
  <script src="/js/htmx.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-[var(--background)] text-[var(--foreground)]">
  <main class="p-4">
    {{ embed }}
  </main>
</body>
</html>
