<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
    </head>
    <body>
        <h1>Homepage</h1>
        <ol>
            <li>
                <a href="/get-flag">Get Free Flag</a>
            </li>
            <li>
                <a href="/get-flag-sleep">Get Flag after a while...</a>
            </li>
            <li>
                <a href="/get-flag-guess"
                    >Get Free Flag only if you guess the number</a
                >
            </li>
            <li>
                <a href="/get-flag-maze">Get Flag but you have to find it </a>
            </li>
            <li>
                <a href="/get-flag-somewhere">Get Flag but it is in a text</a>
            </li>
        </ol>
    </body>
</html>
