{{ template "partials/header" . }}

<div class="w-full h-[80vh] flex items-center justify-center px-4">
  <div class="bg-card text-card-foreground flex flex-col gap-6 rounded-xl border py-6 shadow-sm w-full max-w-sm">
    <div class="grid gap-1.5 px-6">
      <div class="flex flex-col items-center justify-center">
        <img src="/images/logo.png" alt="Logo" class="w-16 h-16 mb-2">
        <h1 class="text-2xl font-bold">Cookie Farm</h1>
      </div>
      <h3 class="leading-none text-2xl font-semibold">Login</h3>
      <p class="text-muted-foreground text-sm">Enter the password below to login.</p>
    </div>

    <form
      hx-post="/api/v1/auth/login"
      hx-trigger="submit"
      id="loginForm"
      hx-target="#invisible"
      hx-swap="innerHTML"
      class="px-6 grid gap-4"
      onsubmit="return false">
      <div class="grid gap-2">
        <label for="password" class="text-sm font-medium">Password</label>
        <div class="flex gap-2">
          <input id="password" name="password" type="password" required placeholder="Enter password"
                 class="flex h-9 w-full rounded-md border bg-transparent px-3 py-1 text-base shadow-xs focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px]" />
          <button type="button" onclick="togglePasswordVisibility()"
                  class="w-10 h-10 bg-primary text-primary-foreground rounded-md hover:bg-primary/90 flex items-center justify-center">
            <svg id="eye-icon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="#33210F">
                <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <span id="invisible" style="display: none;"></span>
        </div>
      </div>
      <div id="error" class="text-sm text-red-500"></div>
      <button type="submit"
              class="w-full bg-primary text-primary-foreground px-4 py-2 rounded-md shadow-sm hover:bg-primary/90">
        Sign in
      </button>
    </form>
  </div>
</div>

<script>
document.body.addEventListener("htmx:afterRequest", function (event) {
   if (event.detail.requestConfig.elt.id === "loginForm") {
     try {
       const responseText = event.detail.xhr.responseText;
       console.log(responseText);
       const data = JSON.parse(responseText);

       if (event.detail.xhr.status !== 200){
         document.querySelector("#error").textContent = data.error;
         return;
       }
       window.location.href = "/dashboard";
     } catch (err) {
       console.error("Failed to parse response", err);
       document.querySelector("#error").textContent = "Errore nel login";
     }
   }
 });

  function togglePasswordVisibility() {
    const input = document.getElementById('password');
    const icon = document.getElementById('eye-icon');
    const isHidden = input.type === 'password';
    input.type = isHidden ? 'text' : 'password';

    icon.innerHTML = isHidden
      ? `<path d="M2 2L22 22" stroke="#33210F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335" stroke="#33210F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>`
      : ` <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>`;
  }

</script>
