go 1.26.0

use (
	./client
	./client/internal/api
	./client/internal/exploit
	./client/internal/submitter
	./client/internal/template
	./client/internal/tui
	./client/internal/websockets
	./client/pkg/config
	./client/pkg/process
	./pkg/config
	./pkg/logger
	./pkg/models
	./pkg/protocols
	./pkg/system
	./server
	./server/api
	./server/internal/ckp/
	./server/internal/config
	./server/internal/controllers
	./server/internal/core
	./server/internal/database
	./server/internal/ui
	./server/internal/websockets
	./server/pkg/pool
)

replace (
	./pkg/logger => ../pkg/logger
	github.com/bytedance/sonic v1.15.0 => github.com/bytedance/sonic v1.15.0
	github.com/gorilla/websocket v1.5.1 => github.com/gorilla/websocket v1.5.1
)
