{{template "partials/header" .}}
{{template "partials/modal" .}}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th>ID</th>
          <th>Flag</th>
          <th>Service</th>
          <th>Status</th>
          <th>SubmitTime</th>
          <th>ResponseTime</th>
        </tr>
      </thead>
      <tbody
        id="flag-table-body"
        hx-get="/flags/{{$.Pagination.Limit}}?offset=0"
        hx-trigger="load"
        hx-target="#flag-table-body"
        hx-swap="innerHTML"
        hx-indicator="#spinner">
        <!-- HTMX caricherà qui le righe -->
      </tbody>
      <div id="spinner" class="hidden text-center mt-2 text-gray-500">Caricamento...</div>

    </table>
    {{range $i := rangeN .Pagination.Pages}}
      <button hx-get="/flags/{{$.Pagination.Limit}}?offset={{mul $i $.Pagination.Limit}}"
              hx-target="#flag-table-body"
              hx-swap="innerHTML"
              class="px-2 py-1 bg-gray-100 rounded">{{$i | add1}}</button>
    {{end}}
</div>
{{template "partials/footer" .}}
