<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8" />
  <title>CookieFarm</title>
  <link rel="stylesheet" href="/css/output.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="bg-[var(--background)] text-[var(--foreground)]">
  <main class="p-4">
    {{ embed }}
  </main>
</body>
</html>
