{{ range .Flags }}
<tr>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">{{ .ID }}</td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">{{ .FlagCode }}</td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">{{ .ServiceName }}{{ .ServicePort }}</td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">{{ .Status }}</td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">{{ .SubmitTime }}</td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">{{ .ResponseTime }}</td>
</tr>
{{ else }}
<tr>
  <td colspan="3" class="text-center text-gray-400">Nessun dato disponibile</td>
</tr>
{{ end }}
